<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adsasdasda</title>
</head>
<body style="background-color: darkslategrey;color: aliceblue; ">
    <h3>Add Product</h3>
    <form action="/insert_user" method="POST">
        <label>Name</label><br>
        <input type="text" name="name" placeholder="Pleas enter name"/><br><br>
        <label>Surname</label><br>
        <input type="text" name="surname" placeholder="Pleas enter surname"/><br><br>
        <button>Add</button>
    </form>
</body>
</html>